site_name: SOFA Documentation
site_url: https://sofa-framework.github.io/doc/
site_description: Documentation website of the framework SOFA

# Repository
repo_name: sofa-framework/sofa
repo_url: https://github.com/sofa-framework/sofa

theme:
  name: material
  logo: assets/logo-white.png
  favicon: assets/favicon.png
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: deep orange
      accent: deep orange
      toggle:
        icon: material/white-balance-sunny
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      accent: deep orange
      toggle:
        icon: material/moon-waxing-crescent
        name: Switch to light mode
  font:
    text: Roboto
    code: Roboto Mono
  features:
    - content.code.copy
    - content.code.select
    - content.tabs.link
    - navigation.footer

# Additional configuration
extra:
  social:
    - icon: octicons/globe-16
      link: https://www.sofa-framework.org/
    - icon: fontawesome/brands/github
      link: https://github.com/sofa-framework/sofa
    - icon: fontawesome/brands/x-twitter
      link: https://x.com/SofaFramework
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/company/sofa-framework
    - icon: fontawesome/brands/discord
      link: https://discord.gg/G63t3a8Ra6
  homepage: https://www.sofa-framework.org/

markdown_extensions:
  - attr_list
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.arithmatex:
      generic: true
 
extra_javascript:
  - javascripts/config.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js
